{% extends "Restaurante/padre.html" %}
{% load static }
{% block contenidoQueCambia %}


<h1> Acerca de mi</h1>
<img src="C:\Users\LTA\Desktop\ENTREGAFINAL\restaurante\restaurant\Imagenes\Foto mia.jpg" height="300">
<p>Hola, me llamo Patricio Alvez. Tengo 21 años y estudio actuario en economia en la UBA. Decidí estudiar programación ya que mis profes de estadística me comentaron y me aconsejaron, estudiar programación, sql, analisis de datos, entre otros, ya que es el futuro y un actuario se complementa con esas habilidades y se requieren hoy en dia. Mi proyecto final es acerca de un restaurante digitalizado, donde la gente pueda registrarse, pedir su comida y poder chequear sus pedidos mediante formulario. Espero que les guste.</p>
<p> Actualmente estudiando python en coderhouse y luego data analytics, también en coderhouse</p>

{% endblock %}