{% extends "Restaurante/padre.html" %}
    {% load static %}
{% block contenidoQueCambia %}

    
    <h1>Gastronomia</h1>
    <p> En el siguiente texto se van a mostrar nuestros platos (en caso que desee agregar un plato a su menú/orden, dirijase hacia el apartado: RestauranteFormulario)</p>
    <p>Estos son nuestros platos:
        -Tortilla de papa
        -Milanesa napolitana con papas fritas
        -Pizza
        -Empanadas
        -Asado con papas fritas
        -Ensalada
        -Ravioles
        -Ñoquis

        Estas son nuestras bebidas:
        -Agua
        -Pepsi
        -Jugo
        -7-up
    </p>
    <img src="https://www.unit.br/hubfs/Blog%20Unit%20%28SEO%29/alunos-da-faculdade-de-gastronomia-preparando-pratos.jpg" height="400">

    {% endblock %}